.header
.contents
  .contents__visual
    .contents__visual__main
      .contents__visual__main__subtitle
        %h2 
          %br  人生を変えるフリマアプリ 
      %p.contents__visual__main__subtitle__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .contents__visual__main__btn
        %a.contents__visual__main__btn__abtn{:href => "#"}
          %img{:src => "/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"}/
        %a.contents__visual__main__btn__gbtn{:href => "#"}
          %img{:src => "/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"}/
    .contents__visual__picture
  .contents__introduction
    %h2.contents__introduction__subtitle
      FURIMAが選ばれる3つの理由
    %ul.contents__introduction__lists
      
  .contents__middledi
  .contents__keyfeatures
  .contents__pickcontainer
  .contents__pickcontainer
.banner  
%a
.footer
