.users
  .show
    .wrapper
      .main
        .main__profilebox
          .main__profilebox__image
          .main__profilebox__name
          .main__profilebox__score
            .main__profilebox__score__review
            .main__profilebox__score__number

        .main__stampbox
          .main__stampbox__stamps
            .main__stampbox__stamps__goodbox
              .main__stampbox__stamps__goodbox__icon
              .main__stampbox__stamps__goodbox__number
            .main__stampbox__stamps__normalbox
              .main__stampbox__stamps__normalbox__icon
              .main__stampbox__stamps__normalbox__number
            .main__stampbox__stamps__badbox
              .main__stampbox__stamps__badbox__icon
              .main__stampbox__stamps__badbox__number

        .main__snsbox
          .main__snsbox__items
            .main__snsbox__items__icon-f
            .main__snsbox__items__icon-t
            .main__snsbox__items__icon-l

        .main__itembox
          .main__itembox__header
          .main__itembox__items
            .main__itembox__items__item
            .main__itembox__items__detail
              .main__itembox__items__detail__name
              .main__itembox__items__detail__price-box
                .main__itembox__items__detail__price-box__price
                .main__itembox__items__detail__price-box__icon



      .side
        .side__lists
  
  