.users
  .show
    .wrapper
      .main
        .main__profilebox
          .main__profilebox__image
          %h2.main__profilebox__name
            小松菜奈
          .main__profilebox__score
            .main__profilebox__score__review
            %p 評価100
            .main__profilebox__score__number
            %p 出品数300

        .main__stampbox
          .main__stampbox__stamps
            .main__stampbox__stamps__goodbox
              .main__stampbox__stamps__goodbox__icon
                %i.far.fa-laugh-squint
              .main__stampbox__stamps__goodbox__number
                %p 50
            .main__stampbox__stamps__normalbox
              .main__stampbox__stamps__normalbox__icon
                %i.far.fa-laugh
              .main__stampbox__stamps__normalbox__number
                %p 50
            .main__stampbox__stamps__badbox
              .main__stampbox__stamps__badbox__icon
                %i.far.fa-tired
              .main__stampbox__stamps__badbox__number
                50

        -# .main__snsbox
        -#   .main__snsbox__items
        -#     .main__snsbox__items__icon-f
        -#       %i.fab.fa-facebook-square
        -#     .main__snsbox__items__icon-t
        -#       %i.fab.fa-twitter-square
        -#     .main__snsbox__items__icon-l
        -#       %i.fab.fa-line

        .main__itembox
          .main__itembox__header
            この出品者の商品
          .main__itembox__itemsbox
            .main__itembox__itemsbox__room
              .main__itembox__itemsbox__room__item
              .main__itembox__itemsbox__room__detail
                .main__itembox__itemsbox__room__detail__name
                .main__itembox__itemsbox__room__detail__price-box
                  .main__itembox__itemsbox__room__detail__price-box__price
                  .main__itembox__itemsbox__room__detail__price-box__icon

    
    