.items{
  .confirm{
    .buy{
    padding-left: 400px;  
    overflow: scroll;

    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    position: fixed;

    &__head{
      height: 90px;
      padding-left: 180px;
    }

    &__head--title{
      background-color: #ffffff;
      text-align: center;
      // margin: 90px 400px 0 400px;
      width:calc(100vw - 800px);
      padding: 32px;
      font-size: 22px;
      font-weight: bold;
      border-bottom: solid 1px #f5f5f5;
      height: 100px;
    }

    &__second{
      background-color: #ffffff;
      // margin: 0 400px 0 400px;
      width:calc(100vw - 800px);
      border-bottom: solid 1px #f5f5f5;
      height: 130px;
      display: flex;
      background-color: #ffffff;
    }
      &__second--image{
        border: solid 1px;
        width: 120px;
        height: 100px;
        margin: 15px 10px 15px 140px;
      }
      &__second--price{
        margin: 15px 100px 15px 0;
      }
        p.buy__second--price--name{
          font-size: 14px;
        }

        p.buy__second--price--price{
          font-size: 15px;
          font-weight: bold;
        }
    

    &__third{
      // text-align: center;
      background-color: #ffffff;
      // margin: 0 400px 0 400px;
      width:calc(100vw - 800px);
      border-bottom: solid 1px #f5f5f5;
      height: 600px;
      background-color: #ffffff;
    }

    &__third--price{
      margin: 0 0 15px 120px;
      padding: 10px;
      display: flex;
    }

    &__third--price--point{
      border-bottom: solid 1px #f5f5f5;
      padding-bottom: 20px;
      margin-left: 190px;
      margin-right: 180px;
    }
    
      p.buy__third--price--text{
        margin-right: 230px;
      }

    
    &__third--choice{
      border-bottom: solid 1px #f5f5f5;
      padding-bottom: 20px;
      padding-top: 20px;
      margin: 30px 180px 0 190px;
    }

    &__third--address{
      border-bottom: solid 1px #f5f5f5;
      margin: 30px 180px 0 200px;
      font-size: 14px;
    }

    &__third--address--red{
      color: red;
      margin: 20px 60px 0 190px;
    }

    &__third--address--btn{
      font-weight: bold;
    }

    .buy-btn{
    background-color:#C0C0C0;
    width: 300px;
    height: 60px;
    margin-left: 175px;
    }

    &__third--address--comment{
      margin-left: 190px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      color: red;
    }

  }
}
  

  .foot{
    height: 100px;
    width: 100vw;
    
    &__link{
      padding-left: 100px;
    }

    &__icon {
      padding-left: 170px;
    }

    p.foot__copy--mini{
      padding-left: 280px;
    }


  }
}  
