.items{
  .confirm{
    .buy{
      width: 100%;
      height: 100vh;
      position: relative;

      .buy__header{
        text-align: center;
        position: relative;
        background-color: #f5f5f5;
        width: 100%;
        height: 100px;
      }
        
      .buy__wrraper{
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: calc(100vh - 200px);
      }
        .buy__head--title{
          font-size: 30px;
          font-weight: 30px;
          border-bottom: solid 1px #f5f5f5;
          height: 90px;
          line-height: 90px;
          width: 100%;
        }
        .buy__second{
          display: flex;
          justify-content: center;
          border-bottom: solid 1px #f5f5f5;
          height: 130px;
          width: 100%;
        }

        .buy__second--image{
          height: 92px;
          margin-right: 100px;
          margin-top: 20px;
        }

        p.buy__second--price--name{
          margin: 20px 0 10px 0;
          font-size: 20px;
        }
        p.buy__second--price--price{
          font-size: 20px;
          padding-right: 20px;
          padding-top: 20px;
        }

        .buy__third{
          width: 100%;
        }

        .buy__third--price{
          display: flex;
          justify-content: center;
        }

        p.buy__third--price--text{
          margin-right: 80px;
          font-size: 30px;
        }
        p.buy__third--price--int{
          font-size: 30px;
          padding-right: 40px
        }
        .buy__third--red{
          color: #FF0000;
          border-bottom: solid 1px #f5f5f5;
        }
        .buy__third--address--red{
          padding-right: ９０px
        }
        .mini{
          width: 15%;
          background-color: #00FFFF;
          margin: 0 auto;
        }
        .buy-btn{
          color: #000000;
          background-color:#00FFFF;
          font-size: 20px;
        }


      .foot{
        position: relative;
        text-align: center;
        height: 165px;
        width: 100%;
        background-color: #f5f5f5;
      }
      a {
        text-decoration: none;
        }
        
      a:hover {
        color: red;
        }
    }
  }
}

