.items{
  .new{
    .header {
      height: 120px;
      width: 100%;
      background-color: rgb(245, 245, 245);
      text-align: center;
      line-height: 150px;
    }
    .contents{
      background-color: rgb(245, 245, 245);
      display: flex;
      justify-content: center;
      height: calc(100vh - 120px -120px);
      &__content{
        width: 700px;
        background-color: white;
        &__head{
          text-align: center;
          font-size: 22px;
          border-bottom: solid 1px whitesmoke;
          padding: 32px 16px;
        }
        &__main{
          &__upload{
            border-bottom: solid 1px whitesmoke;
            padding: 40px;
            &__1{
              font-size: 16px;
              font-weight: 600;
            

            
              span.form{
                background-color: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
            }
            &__2{
              font-size: 14px;
              margin: 5px 0px 15px 0px;

            }
            &__3{
              padding: 56px 20px 56px;
              text-align: center;
              border: 1px dashed #ccc;
              background: #F5F5F5;
              cursor: pointer;
            }
          }
          &__text{
            border-bottom: solid 1px whitesmoke;
            padding: 40px;
            height: 350px;
            &__1{
              font-weight: 600;
              &__name{
                width: 100%;
                height: 48px;
                font-size: 16px;
              }
            }
            &__2{
              margin-bottom: 40px;
              margin-top: 30px;
              font-weight: 600;
              &__names{
                height: 132px;
                width: 100%;
                font-size: 16px;
                line-height: 1.5;
                padding: 10px;
              }
            }
            span.form{
              background-color: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }
          &__clearfix{
            border-bottom: solid 1px whitesmoke;
            padding: 40px;
            height: 250px;
            width: 100%;
            color: #888;
            font-size: 14px;
            span.form{
              background-color: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            &__box{
              height: 180px;
              width: 400px;
              float: right;
              &__category{
                color: black;
              }
              &__status{
                color: black;
                margin: 40px 0 0;
              }
            }
          }
          &__delivery{
            padding: 40px;
            height: 350px;
            border-bottom: solid 1px whitesmoke;
            color: #888;
            font-size: 14px;
            &__hatena1{
              background-color: #0099E8;
              color: #ffffff;
            }
            span.form{
              background-color: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            &__right{
              float: right;
              height: 290px;
              width: 400px;
              color: black;
            }
              &__right1{
              margin: 40px 0 0;
            }
              &__right2{
              margin: 40px 0 0;
            }
          }
          &__price{
            padding: 40px;
            border-bottom: solid 1px rgb(245, 245, 245);
            color: #888;
            font-size: 14px;
            &__hatena{
              background-color: #0099E8;
              color: #ffffff;
            }
            &__sub{
              float: right;
              width: 400px;
              &__upper{
                justify-content: space-between;
                display: flex;
                padding: 0 0 24px;
                &__1{
                  height: 48px;
                  width: 200px;
                  line-height: 48px;
                  color: black;
                  font-weight: 600;
                  span.form{
                    background-color: #ea352d;
                    margin: 0 0 0 8px;
                    padding: 2px 4px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    vertical-align: top;
                  }
                }
                &__2{
                  height: 48px;
                  width: 200px;
                  color: black;
                  line-height: 48px;
                  padding-left: 20px;
                  &__place{
                    display: inline-block;
                    padding-left: 10px;
                  }
                    &__box{
                      height: 44px;
                      width: 165px;
                      font-size: 16px;
                      text-align: right;
                    }
                }
              }
            }
          }
          &__btn{
            padding:40px;
            &__message{
              font-size: 14px;
             &__1__word1{
               color: #0099E8;
               text-decoration: none;
             }
             &__1__word2{
              color: #0099E8;
              text-decoration: none;
             }
             &__2__word3{
              color: #0099E8;
              text-decoration: none;
             }
             &__2__word4{
              color: #0099E8;
              text-decoration: none;
             }
            }

            &__push{
              text-align: center;
              &__1__red{
                background: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                transition: all ease-out .3s;
                cursor: pointer;
                margin-top: 40px;
              }
              &__2__gray{
                background: #aaa;
                border: 1px solid #aaa;
                color: #fff;
                display: block;
                line-height: 50px;
                width: 40%;
                margin :auto;
                margin-top: 20px;
                font-size: 14px;
                transition: all ease-out .3s;
                cursor: pointer;
                
              }
            }
        }
      }
    }
  }
    .footer{
      background-color: rgb(245, 245, 245);
      text-align: center;
      padding: 40px;
      &__word1{
        font-size: 12px;
        color: #333333;
        text-decoration: none;
      }
      &__word2{
        font-size: 14px;
        color: #333333;
        text-decoration: none;
      }
      &__word3{
        font-size: 14px;
        color: #333333;
        text-decoration: none;
      }
      &__logo{
        padding-top: 20px;
      }
    }
    #aa_theme {
      height: 48px;
      width: 400px;
      background-color: white;
    }
    
    .contents__content__main__price__sub__upper__2__place__box {
      height: 50px;
    }
  }
}