@mixin topbox{
    display: flex;
    &__font{
      font-size: 16px;
      
    }
    &__required{
      font-size: 12px;
      margin-left: 8px;
      background-color: #ea352d;
      color: #fff;
      padding: 2px 4px;
    }
  }
  @mixin content{
    background-color: white;
      width: 700px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: solid 1px black;
  }

.items{
  .new{
    .clearfix::after{
      content: "";
      display: block;
      clear: both;
    }
    .header {
      height: 120px;
      width: 100%;
      background-color: rgb(245, 245, 245);
      text-align: center;
      line-height: 150px;
    }
    .contents{
      background-color: rgb(245, 245, 245);
      &__header{
        text-align: center;
        font-size: 22px;
      }
      &__image{
        @include content;
          &__top{
          @include topbox;
          }
          &__text{}
          &__form{
            label{
              .contents__image__form__text{
                text-align: center; 
                background-color: #f5f5f5;
                padding: 56px 20px 56px;
                border: 1px dashed #ccc;
                cursor: pointer;
              }
              .contents__image__form__file{
                display: none;
          }
        }
      }
    }
    &__name{
      @include content;
      &__top{
        @include topbox;
        // &__font{}
        // &__required{}
      }
      &__field{
        width: 100%;
        height: 48px;
        font-size: 16px;
        padding: 10px;
      }
    }
    &__explain{
      @include content;
      &__top{
        @include topbox;
      }
      &__area{
        height: 132px;
        width: 100%;
        font-size: 16px;
        padding: 10px;
      }
    }
    &__detail{
      @include content;
      &__name{}
      &__box{
        float: right;
        width: 400px;
        &__cate{
          &__top{
            @include topbox;
          }
          &__select{
            width: 100%;
            height: 48px;
            background-color: #fff;
          }
        }
        &__condition{
          &__top{
            @include topbox;
          }
          &__select{
            width: 100%;
            height: 48px;
            background-color: #fff;
          }
        }
      }
    }
    &__deal{
      @include content;
      &__name{ 
      }
      &__box{
        float: right;
        width: 400px;
        &__burden{
          &__top{
            @include topbox;
          }
          &__select{
            width: 100%;
            height: 48px;
            background-color: #fff;
          }
        }
        &__area{
          &__top{
            @include topbox;
          }
          &__select{
            width: 100%;
            height: 48px;
            background-color: #fff;
          }
        }
        &__days{
          &__top{
            @include topbox;
          }
          &__select{
            width: 100%;
            height: 48px;
            background-color: #fff;
          }
        }
      }
    }
    &__money{
      @include content;
      &__name{

      }
      &__box{
        float: right;
      &__price{
        display: flex;
        &__top{
          @include topbox;
        }
      } 
      }
    }
    &__text{
      @include content;
    }
    &__submit{
      @include content;
      text-align: center;
      &__sell{
        &__button{
          background-color: #ea352d;
          width: 100%;
          font-size: 14px;
          color:#fff;
          line-height: 48px;
          cursor:pointer;
       }
      &__back{
        &__button{
          line-height: 48px;
          width: 45%;
        }

      }
      }
    }
  }
    .footer{
      background-color: rgb(245, 245, 245);
      text-align: center;
      padding: 40px;
      &__left{
        font-size: 12px;
        color: #333333;
        text-decoration: none;
      }
      &__middle{
        font-size: 14px;
        color: #333333;
        text-decoration: none;
      }
      &__right{
        font-size: 14px;
        color: #333333;
        text-decoration: none;
      }
      &__logo{
        padding-top: 20px;
      }
    } 
  }
}