@mixin topbox{
    display: flex;
    &__font{
      font-size: 16px;
      font-weight: 600;
      
    }
    &__required{
      font-size: 12px;
      font-weight: 600;
      margin: 0 0 0 8px;
      background-color: #ea352d;
      color: #fff;
      padding: 2px 4px;
    }
  }
  @mixin content{
    background-color: white;
    width: 700px;
    margin: 0 auto;
    padding: 40px;
    border-bottom: solid 1px #eee;
  }

.items{
  .new{
    .clearfix::after{
      content: "";
      display: block;
      clear: both;
    }
    .header {
      height: 120px;
      width: 100%;
      background-color: rgb(245, 245, 245);
      text-align: center;
      line-height: 150px;
    }
    .contents{
      background-color: rgb(245, 245, 245);
      &__header{
        @include content;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
      }
      &__image{
        @include content;
          &__top{
          @include topbox;
          }
          &__text{
            margin-bottom: 20px;
          }
          &__form{
            label{
              .contents__image__form__text{
                text-align: center; 
                background-color: #f5f5f5;
                padding: 56px 20px 56px;
                border: 1px dashed #ccc;
                cursor: pointer;
              }
              .contents__image__form__file{
                display: none;
          }
        }
      }
    }
    &__name{
      @include content;
      &__top{
        @include topbox;
        margin-bottom: 10px;
      }
      &__field{
        width: 100%;
        height: 48px;
        font-size: 16px;
        padding: 10px;
      }
    }
    &__explain{
      @include content;
      &__top{
        @include topbox;
        margin-bottom: 10px;
      }
      &__area{
        height: 132px;
        width: 100%;
        font-size: 16px;
        padding: 10px;
      }
    }
    &__detail{
      @include content;
      &__main{
        display: flex;
        justify-content: space-between;
        &__name{
          color: #888888;
        }
        &__box{
          width: 400px;
          &__cate{
            &__top{
              @include topbox;
              margin-bottom: 10px;
            }
            &__select{
              width: 100%;
              height: 48px;
              background-color: #fff;
              margin-bottom: 30px;
            }
          }
          &__condition{
            &__top{
              @include topbox;
              margin-bottom: 10px;
            }
            &__select{
              width: 100%;
              height: 48px;
              background-color: #fff;
            }
          }
        }
      }
    }
    &__deal{
      @include content;
      &__main{
        display: flex;
        justify-content: space-between;
        &__name{
          color: #888888;

        }
        &__box{
          float: right;
          width: 400px;
          &__burden{
            &__top{
              @include topbox;
              margin-bottom: 10px;
            }
            &__select{
              width: 100%;
              height: 48px;
              background-color: #fff;
              margin-bottom: 30px;
            }
          }
          &__area{
            &__top{
              @include topbox;
              margin-bottom: 10px;
            }
            &__select{
              width: 100%;
              height: 48px;
              background-color: #fff;
              margin-bottom: 30px;
            }
          }
          &__days{
            &__top{
              @include topbox;
              margin-bottom: 10px;
            }
            &__select{
              width: 100%;
              height: 48px;
              background-color: #fff;
            }
          }
        }
      }
    }
    &__money{
      @include content;
      &__main{
        display: flex;
        justify-content: space-between;
        &__name{
          color: #888888;
        }
        &__box{
          &__frame{
            display: flex;
            &__left{
              &__top{
                @include topbox;
                margin-right: 120px;
              }
            }
            &__right{
              font-size: 16px;
              margin-right: 10px;
              margin-top: 20px;
              &__yen{
              }
              &__price{
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;


              }

            }
          }
        }
      }
    }
    &__text{
      @include content;
      &__main{
        font-size: 14px;
        &__first{
          
          &__box1{
            color :#0099e8;
            text-decoration: none;
          }
          &__box2{
            color :#0099e8;
            text-decoration: none;
          }
        }
        &__second{
          &__box1{
            color :#0099e8;
            text-decoration: none;
          }
        }
        &__third{
          &__box1{
            color :#0099e8;
            text-decoration: none;
          }
        }
      }
    }
    &__submit{
      @include content;
      text-align: center;
      &__sell{
        &__button{
          background-color: #ea352d;
          width: 100%;
          font-size: 14px;
          color:#fff;
          line-height: 48px;
          cursor:pointer;
       }
      }
      &__back{
          line-height: 48px;
          background-color: #aaa;
          width: 45%;
          margin: 24px auto 0;
          cursor: pointer;
        &__button{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
    .footer{
      background-color: rgb(245, 245, 245);
      text-align: center;
      padding: 40px;
      &__left{
        font-size: 12px;
        color: #333333;
        text-decoration: none;
      }
      &__middle{
        font-size: 14px;
        color: #333333;
        text-decoration: none;
      }
      &__right{
        font-size: 14px;
        color: #333333;
        text-decoration: none;
      }
      &__logo{
        padding-top: 20px;
      }
    } 
  }
}