// 伊東が担当items#show 
.items{
  .show{ 
    .header{
      padding: 0 60px;
      margin-bottom: 10px;
      &__main{
        margin: 0 auto;
        padding: 15px 0 0;
        background-color: 0 60px;
        max-width: 1040px;
        height: 82px;
        &__top{
          display: flex;
          width: 100%;
          &__logo{
            margin-right:30px ;
          }
          &__form{
            width: 100%;
            &__box{
              display: flex;
              height: 36px;
              
            &__text{
              width: 100%;
              
            }
            &__submit{
              background-color: #3CCACE;
              padding: 4px;
            }
          }
          }
        }
        &__bottom{
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          max-width: 100%;
          a{
            text-decoration: none;
            color: black;
          }
          &__left{
            display: flex;
            &__cate{
              padding-right: 30px;
            }
            &__brand{}
          }
          &__right{
            display: flex;
            &__logout{
              padding-right: 16px;
            }
            &__mypage{

            }
            &__login{
              padding-right: 16px;
             
            }
            &__new{
            }
          }
        }
      }
    }
    .breadcrumbs{
      padding: 0 60px;
      border-top: solid 1px #eee;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
      &__content{
        display: flex;
        padding: 17px 0 16px;
        width: 100%;
        max-width: 1040px;
        font-size: 14px;
    margin: 0 auto;
        &__list{
          padding: 0 10px 0 0;
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .main{
      padding: 40px;
      background: #f8f8f8;
      &__content{
        width: 700px;
        margin: 0 auto;
        &__top{
          &__items{
            background-color: #fff;
            padding: 24px 40px 40px;
            &__name{
              text-align: center;
            }
            &__body{
              margin: 16px 0 0;
              &__main{
                margin: 16px 0 0;
                text-align: center;
              }
              &__bar{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                &__image{}
              }
            }
            &__price{
              text-align: center;
              font-size: 46px;
              font-weight: bold;
            }
              &__tax{
                text-align: center;
                font-size: 16px;
              }
            &__detail{
              line-height: 1.5;
              font-size: 18px;
              margin-bottom: 30px;
            }
            &__table{
              table{
                width: 100%;
                height: 375px;
                border-collapse: collapse;
                border: 1px solid #f8f8f8;
                margin-bottom: 20px;
                tr{
                  th{
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  td{
                    border: 1px solid #dedede;
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          &__btn-box{
            display: flex;
            justify-content: space-between;
            &__left{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
            }
            &__right{
              padding: 6px 10px;
              display: inline-block;
              border-radius: 4px;
              color: #333;
              border: 1px solid #333;
              text-decoration: none;
              font-size: 14px;
              margin: 10px 0 0;
            }
          }
          &__comment{
            padding: 24px;
            background-color: #fff;
            margin: 10px 0;
            text-align: center;
            &__area{
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            &__message{
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            &__btn{
              font-size: 18px;
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              margin: 0 auto;
            }
          }
        }
        &__links{
          display: flex;
          justify-content: space-between;
          a{
            text-decoration: none;
            color: #3CCACE;
          }
          &__left{}
          &__right{}
        }
        &__bottom{
          margin: 24px 0 8px;
          a{
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          }
        }
      }
    }
    .banner{
      background-image: url(/assets/bg-appBanner-pict.jpg);
      width: 100%;
      padding: 100px 40px;
      background-size: cover;
      background-position: center;
      &__background{
        
        &__content{
          &__main{
            &__title{
              font-size: 24px;
              text-align: center;
            }
            &__text{
              font-size: 35px;
              text-shadow: 0 0 5px rgba(0,0,0,0.4);
              text-align: center;
            }
            &__icon{
              width: 100%;
              display: flex;
              justify-content: center;
              margin: 20px auto 0;
              &__app{
                margin-right: 10px;
              }
              &__google{}
            }
          }
           
        }
      }
    }
    .footer{
      padding: 60px 0;
      color: #fff;
      background-color: #272727;
    text-align: center;
      &__top{
        display: flex;
        justify-content: space-between;
        max-width: 840px;
        margin: 0 auto;
        &__content{
          width: calc(1 / 3 * 100%);
          margin: 0 2% 0 0;
          font-weight: bold;
          &__head{
            font-size: 16px;
            margin-bottom: 20px;
          }
          &__bottom{
            &__list{
              font-size: 12px;
              line-height: 32px;
              a{
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }
      &__logo{
        max-width: 160px;
        margin: 0 auto;
      }
      &__copy-light{
        font-size: 14px;
      }
    }
  }
}