.header
  .header__logo
    FURIMA
.contents
  .sub-contents
    %h3.contents__1
      商品の情報を入力
    .contents__2
      %h3.sell
        出品画像 必須
      %p.comment
        最大まで10枚アップロードできます
      .text
      
    .contents__3
      Twitter
    .contents__4
      Instagram
    .contents__5

    .contents__6

    .contents__7

  .footer
    .footer__logo
      FURIMA