.sessions {
  .new {
    .contents.row {
      width: 500px;
      margin: 0 auto;
      text-align: center;
      background-color: white;
      margin-top: 30px;
      .new_user {
        width: 100%;
          .field {
            height: 70px;
            width: 100%;
            .input-box {
              width: 300px;
              height: 40px;
              font-size: 20px;
            }
          }
          .actions {
            .btn {
              background-color: red;
            }
          }
          #forgot-password {
            color: blue;
          }
        }
      .btn{
        display: block;
        margin: 0 auto;
        width: 300px;
        line-height: 48px;
        font-size: 20px;
        color: rgb(245, 245, 245);
        background-color: blue;
        text-decoration: none;
      }
    }
    .footer{
      background-color: rgb(245, 245, 245);
      text-align: center;
      padding: 40px;
      a{
        font-size: 12px;
        color: #333333;
        text-decoration: none;
      }
      &__logo{
        padding-top: 20px;
      }
    }
  }
}
  


