
*{
  box-sizing: border-box;
}


.body{

.buy{
  padding-left: 400px;  
  overflow: scroll;

  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  position: fixed;

  &__head{
    height: 90px;
    padding-left: 180px;
  }

  &__head--title{
    background-color: #ffffff;
    text-align: center;
    // margin: 90px 400px 0 400px;
    width:calc(100vw - 800px);
    padding: 32px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: solid 1px #f5f5f5;
    height: 100px;
  }

  &__second{
    background-color: #ffffff;
    // margin: 0 400px 0 400px;
    width:calc(100vw - 800px);
    border-bottom: solid 1px #f5f5f5;
    height: 130px;
    display: flex;
    background-color: #ffffff;
  }
    &__second--image{
      border: solid 1px;
      width: 120px;
      height: 100px;
      margin: 15px 10px 15px 140px;
    }
    &__second--price{
      margin: 15px 100px 15px 0;
    }
      p.buy__second--price--name{
        font-size: 14px;
      }

      p.buy__second--price--price{
        font-size: 15px;
        font-weight: bold;
      }
  

  &__third{
    // text-align: center;
    background-color: #ffffff;
    // margin: 0 400px 0 400px;
    width:calc(100vw - 800px);
    border-bottom: solid 1px #f5f5f5;
    height: 600px;
    background-color: #ffffff;
  }

  &__third--price{
    margin: 0 0 15px 120px;
    padding: 10px;
    display: flex;
  }

  &__third--price--point{
    border-bottom: solid 1px #f5f5f5;
    padding-bottom: 20px;
    margin-left: 190px;
    margin-right: 180px;
  }
  
    p.buy__third--price--text{
      margin-right: 230px;
    }

  
  &__third--choice{
    border-bottom: solid 1px #f5f5f5;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 30px 180px 0 190px;
  }

  &__third--address{
    border-bottom: solid 1px #f5f5f5;
    margin: 30px 180px 0 200px;
    font-size: 14px;
  }

  &__third--address--red{
    color: red;
    margin: 20px 60px 0 190px;
  }

  &__third--address--btn{
    font-weight: bold;
  }

  .buy-btn{
  background-color:#C0C0C0;
  width: 300px;
  height: 60px;
  margin-left: 175px;
  }

  &__third--address--comment{
    margin-left: 190px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: red;
  }

}

.foot{
  height: 100px;
  width: 100vw;
  
  &__link{
    padding-left: 100px;
  }

  &__icon {
    padding-left: 170px;
  }

  p.foot__copy--mini{
    padding-left: 280px;
  }


}


.contents {
  background: #f8f8f8;
  &__visual{
    width: 100%;
    height: 560px;
    background-image: url(/assets/bg-mainVisual-pict_pc.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__main{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn{
        display: flex;
        margin: 24px 0 0 0;
        &__abtn{
          margin-right: 10px;
          width: 180px;
        }
        &__gbtn{
          width: 180px;
        }
      }
    }
    &__picture{
      position: absolute;
      top: 0;
      right: 210px;
    } 
  }
  &__introduction{
    padding: 60px 20px;
    &__subtitle{
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
    }
      &__lists{
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        &__list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__pict{
            position: relative;
            margin-bottom: 20px;
            &__number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
          }
          &__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
          }
          &__description{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
        &__list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__pict{
            position: relative;
            margin-bottom: 20px;
          }
            &__number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
          &__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
          }
          &__description{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
        &__list-last{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__pict{
            position: relative;
            margin-bottom: 20px;
            &__number{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
          }
          &__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
          }
          &__description{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
    }
  &__middledi{
    background-image: url(/assets/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__subtitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn{
        display: flex;
        &__aBtn{
          width: 180px;
        }
        &__gBtn{
          width: 180px;
        }
      }
    }
  }
  &__keyfeatures{
    padding: 60px 100px;
    background-color: #fff;
    &__head{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  &__pickupContainer{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    &__head{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      }
    &__productBox{
      &__productHead{
        text-align: center;
        &__title{
          font-weight: bold;
        }
      }
      &__productLists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__productList{
          width: 220px;
          display: inline-block;
          float: left;
          &__img{
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            img{
              height: 180px;
              width: 180px;
            }
          }
          &__body{  
            background-color: white;
            color: #333;
            padding: 16px;
            &__name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            &__details{
              font-size: 16px;
              &__fa{
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
            }
          }
        }
      }
    }
  }
}
}

