  //  伊勢田さん担当、items#newに対応
.items{
  .new{
      .header {
          height: 120px;
          background-color: rgb(245, 245, 245);
          text-align: center;
          line-height: 150px;
        }
        .contents{
          background-color: rgb(245, 245, 245);
          display: flex;
          justify-content: center;
          height: calc(100vh - 120px -120px);
          &__content{
            width: 700px;
            background-color: white;
            &__head{
              text-align: center;
              font-size: 22px;
              border-bottom: solid 1px gray;
              padding: 32px 16px;
            }
            &__main{
              &__upload{
                border-bottom: solid 1px gray;
                padding: 40px;
                &__1{
                  font-size: 16px;
                
                  span.form{
                    background-color: #ea352d;
                    margin: 0 0 0 8px;
                    padding: 2px 4px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    vertical-align: top;
                  }
                }
                &__2{
                  font-size: 14px;

                }
                &__3{
                  padding: 56px 40px 24px;
                  height: 82px;
                  width: 540px;
                  text-align: center;
                  border: 1px dashed #ccc;
                  background: #F5F5F5;
                  
                }
              }
              &__text{
                border-bottom: solid 1px gray;
                padding: 40px;
                &__1{
                  font-size: 14px;
                  font-weight: 600;
                }
                &__2{
                  margin-bottom: 40px;
                }
                span.form{
                  background-color: #ea352d;
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                }
                #area{
                  width: 100%;
                  height: 48px;
                  font-size: 16px;
                }
                &__3{
                  font-size: 14px;
                  font-weight: 600;
                }
                span.form{
                  background-color: #ea352d;
                  margin: 0 0 0 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                }
                input{
                  width:100%;
                  height: 150px;
                  font-size: 16px;
                }
              }
              &__clearfix{
                border-bottom: solid 1px gray;
                padding: 40px;
                &__left{
                  padding-left: 10px;
                  padding-top: 10px;
                  &__1{
                  padding-left: 10px;
                  padding-top: 10px;
                }
                &right{
                  padding-left: 10px;
                  padding-top: 10px;
                }
                  &__head{
                    padding-left: 10px;
                    padding-top: 10px;
                    &__1{
                      padding-left: 10px;
                      padding-top: 10px;
                    }
                    &__2{
                      padding-left: 10px;
                      padding-top: 10px;
                    }
                    &__3{
                      padding-left: 10px;
                      padding-top: 10px;
                    }
                    
                  }
                  &__foot{
                    padding-left: 10px;
                    padding-top: 10px;
                    &__1{
                      padding-left: 10px;
                      padding-top: 10px;
                    }
                    &__2{
                      padding-left: 10px;
                      padding-top: 10px;
                    }
                    &__3{
                      padding-left: 10px;
                      padding-top: 10px;
                    }
                  }
                }
              }
              &__price{
                border-bottom: solid 1px gray;
                padding: 40px;
                &__left{
                  padding-left: 10px;
                  padding-top: 10px;
                }
                &__right{
                  padding-left: 10px;
                  padding-top: 10px;
                  &__1{
                    padding-left: 10px;
                    padding-top: 10px; 
                  }
                  &__2{
                    padding-left: 10px;
                    padding-top: 10px;
                  }
                  &__3{
                    padding-left: 10px;
                    padding-top: 10px;
                  }
                  &__4{
                    padding-left: 10px;
                    padding-top: 10px;
                  }
                  &__5{
                    padding-left: 10px;
                    padding-top: 10px;
                  }

                }
              }
              &__btn{
                padding:40px;
                // .btn_red{
                //   background: #ea352d;
                //   border: 1px solid #ea352d;
                //   color: #fff;
                // }
                &__push{
                  &__box{
                    text-align: center;
                    &__red{
                      background: #ea352d;
                      border: 1px solid #ea352d;
                      color: #fff;
                      display: block;
                      width: 100%;
                      line-height: 48px;
                      font-size: 14px;
                      transition: all ease-out .3s;
                      cursor: pointer;
                    }
                    &__gray{
                      background: #aaa;
                      border: 1px solid #aaa;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
        .footer{
          height: 120px;
          background-color: rgb(245, 245, 245);
          text-align: center;
          padding: 40px;
          a{
            font-size: 12px;
            color: #333333;
            text-decoration: none;
          }
          &__logo{
            padding-top: 20px;
          }
        }




    .header {
      height: 90px;
      border-bottom:20px solid #ffa500;
      background-color: #ff8c00;
      color: #ffffff;
      text-align: center;
      font-size: 50px;
    }
  }
}


