.users{ 
  .show{
    .wrapper{
        height: 100%;
        width: 100%;
        background-color:#EEEEEE;
      .main{
        height: 100%;
        width: 100%;
        margin-top: 30px;
        &__profilebox{
          height: 323px;
          width: 700px;
          justify-content: center;
          background-image: image-url("274882213001201.jpg");
          // background-image: url(https://dotup.org/uploda/dotup.org2055166.jpg_DxUImdbK5SogV6HIKBeO/dotup.org2055166.jpg);
          background-size: cover;
          padding-top: 50px;
          margin: 0px auto 0;
          &__image{
            background-image: image-url("A0006940-00.jpg");
            // background-image: url(https://dotup.org/uploda/dotup.org2055124.jpg_FVNd37EKiERSpBjLiuOA/dotup.org2055124.jpg);
            width: 180px;
            height: 180px;
            background-size: cover;
            border-radius: 100px;
            margin: 0 auto; 
          }
          &__name{
            font-weight: 400;
            color:black;
            text-align: center;
            margin-top: 10px;
          }
          &__score{
            padding-bottom: 30px;
            font-size: 13px;
            font-weight: 600;
            color:black;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            &__review{
              text-align: center;
              margin-right: 5px;
            }
            &__number{
              text-align: center;
              margin-right: 20px;
            }
           }  
          }
         } 
        }
        .main__stampbox{
          height: 52px;
          width: 700px;
          background-color:white;
          margin:auto;
          &__stamps{
            height: 50px;
            padding-top: 14px;
            width: 360px;
            background-color: white;
            margin: auto;          
            display: flex;
            &__goodbox{
              width: 100px;
              line-height: 26px;
              background-color:white;
              display: flex;
              justify-content: space-between;
              &__icon{
                font-size: 25px ;
              }
              &__number{
                font-weight: bold;
              }
            }
            &__normalbox{
              width: 100px;
              line-height: 26px;
              background-color:white;
              margin-left: 30px;
              display: flex;
              justify-content: space-between;
              &__icon{
                font-size: 25px ;
              }
            &__number{
              font-weight: bold;
              }
          }
            &__badbox{
              width: 100px;
              line-height: 26px;
              background-color:white;
              margin-left: 30px;
              display: flex;
              justify-content: space-between;
              &__icon{
                font-size: 25px ;
            }
              &__number{
                font-weight: bold;
              }
          }
        }     

    }    

        .main__itembox{
          height: 100%;
          width: 700px;
          background-color:white;
          margin:auto;
          justify-content: space-around;
          &__header{
            font-size: 22px;
            font-weight: bold;
            padding: 24px 0 8px;
          }
          &__itemsbox{
            padding: 0;
            width: 700px;
            height: 500px;
            overflow: scroll;
            justify-content: space-around;
            &__room{
              float: left;
              display: block;
              width: 200px;
              margin: 0 18px 20px 15px;
              vertical-align: inherit;
              height: 330px;
              background-color: white; 
              &__item{
                height: 220px;
                width: 200px;
                background-color:white;
                image{
                  margin: auto;

                }
              }
              &__detail{
                height: 110px;
                width: 200px;
                padding: 16px;
                &__name{
                  overflow: hidden;
                  position: relative;
                  font-weight: 400;
                  height: 3em;
                  line-height: 1.5;
                  word-break: break-word;
                  white-space: normal;
                  background-color: white;
                }
                &__price-box{
                  height: 25px;
                  width: 168px;
                  display: flex;
                  justify-content: space-between;
                  margin: 8px 0 0;
                  background-color: white;
                }
              }
            }
          }
       }   



       .purchaseBtn{
        width: 120px;
        background: #3CCACE;
        text-align: center;
        border-radius: 4%;
        bottom: 32px;
        right: 32px;
        position: fixed;
        padding: 15px;
        &__text{
          color: #fff;
          display: block;
          font-size: 18px;
          text-decoration: none;
          margin-bottom: 5px;
        }
        &__icon{
          width: 60%;
        }
      }
      .purchaseBtn1{
        width: 120px;
        background: #3CCACE;
        text-align: center;
        border-radius: 4%;
        bottom: 32px;
        left: 32px;
        position: fixed;
        padding: 15px;
        &__text{
          color: #fff;
          display: block;
          font-size: 18px;
          text-decoration: none;
          margin-bottom: 5px;
        }
        &__icon{
          width: 60%;
          color: white;
        }
      }



    }      
}
   
